{% extends 'base.html' %}

{% block title %} CREATE JOB {% endblock %}

{% block body %}

<form method="POST" action="{{ url_for('create') }}" class="form" id="body-fromx">
    <h1 class="text-center">Job Request Form</h1>
    <div id="body-from">
        <div class="input-group1">
            <label class="txt2" for="company">Your Company Name <span class="red">*</span></label>
            <p>This field will later be used for filtering scheduled jobs (plese fill it carefully)</p>
            <input type="text" name="company" id="company" required />
        </div>
        <div class="input-group1">
            <label class="txt2" for="Name">Name <span class="red">*</span></label>
            <input type="text" name="name" id="name" required />
        </div>
        <div class="input-group1">
            <label class="txt2" for="billing-details">Billing details (Company/ Vessel Name) <span
                    class="red">*</span></label>
            <input type="text" name="billing-details" id="billing-details" required />
        </div>

        <div class="input-group1">
            <label class="txt2" for="username">Job Priority</label>
            <select name="job-priority" id="job-priority">
                <option value="Normal - Trips before 24 Hrs">Normal (Trips before 24 Hrs)</option>
                <option value="Important - Trips before 12 Hrs">Important (Trips before 12 Hrs )</option>
                <option value="Immediate - Trips before 6 Hrs">Immediate (Trips before 6 Hrs)</option>
                <option value="Emergency - After providing  Details, please call me @ +6598624654">Emergency (After
                    providing Details, please call me @ +6598624654)</option>
            </select>
        </div>

        <div class="input-group1">
            <div class="row">
                <div class="col-12">
                    <label class="txt2" for="Type-of-trip">Type of Trip <span class="red">*</span></label>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check pl-01">
                            <input class="form-check-input" type="radio" name="type-of-trip" value="normal-trip"
                                id="normal-trip" />
                            <p-label class="form-check-label" for="normal-trip"> Normal Trip</p-label>
                        </div>


                        <div class="form-check pl-01">
                            <input class="form-check-input" type="radio" name="type-of-trip" value="daily-trips"
                                id="daily-trips" />
                            <p-label class="form-check-label" for="daily-trips"> Daily Tips</p-label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="input-group1">
            <div class="row">
                <div class="col-12">
                    <label class="txt2" for="client-details-etc">Client Details (Name & Contact Number) Eg; 1.Gordon
                        12345678 , 2.Denise 98765432 <span class="red">*</span><label class="txt2">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="client-details-etc" id="client-details-etc" class="w-100" />
                </div>
            </div>


        </div>
        <div class="input-group1">
            <label class="txt2" for="pickup-date">Pickup Date <span class="red">*</span></label>
            <input type="date" name="pickup-date" id="pickup-date" required />
        </div>
        <div class="input-group1">
            <label class="txt2" for="pickup-timing">Pickup Timing <span class="red">*</span></label>
            <input type="time" name="pickup-timing" id="pickup-timing" required />
        </div>
        <div class="input-group1">
            <label class="txt2" for="return-timing">Return Timing (If required)</label>
            <input type="time" name="return-timing" id="return-timing" />
        </div>
        <div class="input-group1">
            <label class="txt2" for="destination-details">Destination Details (From/To) <span
                    class="red">*</span></label>
            <input type="text" name="destination-details" id="destination-details" required />
        </div>
        <div class="input-group1">
            <div class="row">
                <div class="col-12">
                    <label class="txt2" class="d-block" for="note">Note <label class="txt2">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="note" id="note" />
                </div>
            </div>


        </div>


    </div>


</form>

{% endblock %}