{% extends 'base.html' %}

{% block title %} EDIT JOB {% endblock %}

{% block body %}

<form method="POST" action="" class="form" id="body-fromx">
    <h1 class="text-center">New Job Registration</h1>
    <div id="body-from">
        <div class="input-group1">
            <input type="hidden" name="id" value="{{ job.id }}">
            <label class="txt2" for="company">Your Company Name <span class="red">*</span></label>
            <p>This field will later be used for filtering scheduled jobs (plese fill it carefully)</p>
            <input type="text" name="company" id="company" value="{{ job.company }}" required />
        </div>
        <div class="input-group1">
            <label class="txt2" for="Name">Name <span class="red">*</span></label>
            <input type="text" name="name" id="name" value="{{ job.name }}" required />
        </div>
        <div class="input-group1">
            <label class="txt2" for="billing-details">Billing details (Company/ Vessel Name) <span
                    class="red">*</span></label>
            <input type="text" name="billing-details" id="billing-details" value="{{ job.billing_details }}" required />
        </div>

        <div class="input-group1">
            <label class="txt2" for="username">Job Priority</label>

            <select name="job-priority" id="job-priority">
                {% if job.priority == 'Normal' %}

                <option value="Normal" selected="selected">Normal (Trips before 24 Hrs)</option>
                <option value="Important">Important (Trips before 12 Hrs )</option>
                <option value="Immediate">Immediate (Trips before 6 Hrs)</option>
                <option value="Emergency">
                    Emergency (After providing Details, please call me @ +6598624654)
                </option>

                {% elif job.priority == 'Important' %}
                <option value="Normal">Normal (Trips before 24 Hrs)</option>
                <option value="Important" selected="selected">Important (Trips before 12 Hrs )
                </option>
                <option value="Immediate">Immediate (Trips before 6 Hrs)</option>
                <option value="Emergency">
                    Emergency (After providing Details, please call me @ +6598624654)
                </option>

                {% elif job.priority == 'Immediate' %}

                <option value="Normal">Normal (Trips before 24 Hrs)</option>
                <option value="Important">Important (Trips before 12 Hrs )</option>
                <option value="Immediate" selected="selected">Immediate (Trips before 6 Hrs)
                </option>
                <option value="Emergency">
                    Emergency (After providing Details, please call me @ +6598624654)
                </option>

                {% elif job.priority == 'Emergency' %}

                <option value="Normal">Normal (Trips before 24 Hrs)</option>
                <option value="Important">Important (Trips before 12 Hrs )</option>
                <option value="Immediate">Immediate (Trips before 6 Hrs)</option>
                <option value="Emergency" selected="selected">
                    Emergency (After providing Details, please call me @ +6598624654)
                </option>

                {% endif %}
            </select>
        </div>

        <div class="input-group1">
            <div class="row">
                <div class="col-12">
                    <label class="txt2" for="Type-of-trip">Type of Trip <span class="red">*</span></label>
                </div>
                <div class="row">
                    <div class="col-12" id="trip_type">
                        {% if job.trip_type == 'normal-trip' %}
                        <div class="form-check pl-01">
                            <input class="form-check-input" type="radio" name="type-of-trip" value="normal-trip"
                                id="normal-trip" checked />
                            <p-label class="form-check-label" for="normal-trip"> Normal Trip</p-label>
                        </div>
                        <div class="form-check pl-01">
                            <input class="form-check-input" type="radio" name="type-of-trip" value="daily-trips"
                                id="daily-trips" />
                            <p-label class="form-check-label" for="daily-trips"> Daily Tips</p-label>
                        </div>
                        {% else %}
                        <div class="form-check pl-01">
                            <input class="form-check-input" type="radio" name="type-of-trip" value="normal-trip"
                                id="normal-trip" />
                            <p-label class="form-check-label" for="normal-trip"> Normal Trip</p-label>
                        </div>
                        <div class="form-check pl-01">
                            <input class="form-check-input" type="radio" name="type-of-trip" value="daily-trips"
                                id="daily-trips" checked />
                            <p-label class="form-check-label" for="daily-trips"> Daily Tips</p-label>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <div class="input-group1">
            <div class="row">
                <div class="col-12">
                    <label class="txt2" for="client-details-etc">Client Details (Name & Contact Number) Eg; 1.Gordon
                        12345678 , 2.Denise 98765432 <span class="red">*</span><label class="txt2">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="client-details-etc" id="client-details-etc" class="w-100"
                        value="{{job.clients_details }}" />
                </div>
            </div>


        </div>
        <div class="input-group1">
            <label class="txt2" for="pickup-date">Pickup Date <span class="red">*</span></label>
            <input type="date" name="pickup-date" id="pickup-date" value="{{ job.pickup_date }}" required />
        </div>



        <!-- EDIT THIS PART - START -->

        <!-- NEW CODE -->
        <div class="input-group1">
            <label class="txt2" for="pickup-timing">Pickup Timing <span class="red">*</span></label>
            <input type="text" name="pickup-timing" id="pickup-timing" class="pickup-timing input100" required />
        </div>

        <div class="input-group1">
            <label for="time"> Show Return Time </label>
            {% if job.return_time %}
            <input type="checkbox" id="check-return-timing" name="toggle-return-timing" value="" checked>
            {% else %}
            <input type="checkbox" id="check-return-timing" name="toggle-return-timing" value="">
            {% endif %}

        </div>
        <div id="return-time-div" class="input-group1">
            <!-- <label class="txt2" for="return-timing">Return Timing (If required)</label>
            <input type="text" name="return-timing" id="return-timing" class="return-timing" required /> -->
            <!-- <input type="time" name="return-timing" id="return-timing" /> -->
        </div>
        <!-- NEW CODE -->

        <!-- EDIT THIS PART - START -->



        <div class="input-group1">
            <label class="txt2" for="destination-details">Destination Details (From/To) <span
                    class="red">*</span></label>
            <input type="text" name="destination-details" id="destination-details" value="{{ job.destination }}"
                required />
        </div>
        <div class="input-group1">
            <div class="row">
                <div class="col-12">
                    <label class="txt2" class="d-block" for="note">Note <label class="txt2">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="note" id="note" value="{{ job.notes }}" />
                </div>
            </div>
        </div>
    </div>
</form>

<!-- https://stackoverflow.com/questions/21626048/unable-to-pass-jinja2-variables-into-javascript-snippet -->
<meta id="my-data" data-start_date="{{job.start_date}}" data-end_date="{{job.end_date}}"
    data-job_type="{{job.job_type}}" data-meet_and_greet="{{job.meet_greet}}"
    data-flight_details="{{job.flight_details}}" data-special_requirements="{{job.special_requirements}}"
    data-pickup_time="{{job.pickup_time}}" data-return_time="{{job.return_time}}">

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='script-update.js') }}"></script>
<script src="{{ url_for('static', filename='modules.js') }}"></script>
<!-- SCRIPTS GOES HERE - UPDATE THE script-update.js too -->
<script src="{{ url_for('static', filename='wicked-picker.js') }}"></script>

{% endblock %}